@* @model bugtracker.ViewModels.BugtrackerIssueModalViewModel *@
@* <p class="input-label">This is a partial view</p>
<input class="field" value="I hope this renders" asp-for="Title" type="text">
<p class="input-label">this is smart</p> *@