/* Global Default */
h1 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
}

/* Search Default */
form {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.search {
  width: 60%;
}


.form-container {
  display: flexbox;
  flex-wrap: nowrap;
  width: 100%;
}

/* Issues List Default */
.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#issues {
  padding-top: 1rem;
  width: 75%;
}

.issue a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid black;
  color: black;
}

.issue a:hover {
  color: white;
  background-color: gray;
}

.top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


/* Issues List */
/* .pb-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

/* #issues {
  background-color: white;
  border: 2px solid grey;
  border-radius: 1rem;
  list-style: none;
  margin-top: 1rem;
  width: 75%;
} */

/* .input-label {
} */
.field {
  margin-bottom: 1rem;
}

/* Media Queries */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #issues {
    /* perfect number to scale the list with the search */
    width: 82%;
  }
}


@media (prefers-color-scheme: dark) {
  th {
    color: white;
  }

  /* Issues List Dark Mode */
  .issue a {
    color: white;
    background-color: grey;
    border: 2px solid white;
  }
  
  .issue a:hover {
    color: black;
    background-color: white;
  }

  /* Search Bar */
  .search {
    background-color: lightslategray;
    color: white;
  }

  
}
