/* Global Default */
h1 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
}

/* Search Default */
form {
  text-align: center;
}

.form-container {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.form-container input {
  margin: 0;
}

.search {
  width: 87%;
}

.search-form {
  display: flex;
  width: 90%;
  flex-wrap: nowrap;
  margin-left: 0.5rem;
}

.search-form button {
  margin-left: 0.5rem;
}

.create-button {
  width: fit-content;
  justify-content: center;
}

.back {
  text-decoration: none;
}

.back-button-container {
  margin-top: 3rem;
}

/* Issues List Default */
.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#issues {
  padding-top: 1rem;
  width: 75%;
}

.issue a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  color: black;
}

.issue a:hover {
  color: white;
  background-color: gray;
}

.top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: 2px solid white !important;
}


/* .input-label {
} */
.field {
  margin-bottom: 1rem;
}

/* modal */
.modal-container {
  
  z-index: 50;
  padding: 2rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.modal-footer,
.modal-header {
  color: white;
  background-color: #393942;
  border: none;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-footer {
  align-items: flex-start;
}

.modal-header .modal-close {
  font-size: 1.3rem;
  font-weight: 600;
}

.modal-footer form {
  width: fit-content;
}

.modal p + p {
  margin-top: 1rem;
}

.modal.is-visible {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
}

.issue-container {
  position: relative;
  max-width: 30%;
  max-height: 80vh;
  border-radius: 5px;
  background: rgb(52, 52, 52);
  overflow: auto;
  cursor: default;
  color: white;
}

.issue-container > *{
  padding: 1rem;
}

.modal-content {
  background-color: rgb(42, 42, 42);
  border: 1px solid  rgb(42, 42, 42);
  padding-top: 0;
}

.issue-container.is-visible {
  display: flex;
}

.issue-title {
  font-size: 2rem;
  font-weight: bold;
}

.delete {
  background-color: rgb(255, 45, 45)
}

.delete:hover {
  background-color: rgb(251, 125, 125);
}

/* statuses */
.status {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  padding: 0.6rem;
}

.open {
  background-color: #00800070;
  border: 0.2rem solid #008000;
}

.closed {
  background-color: #d0000070;
  border: 0.2rem solid #d00000;
}

.archived {
  background-color: #9800dd70;
  border: 0.2rem solid #9800dd;
}

.resolved {
  background-color: #00dbff70;
  border: 0.2rem solid #00dbff;
}

.unresolved {
  background-color: #ff780070;
  border: 0.2rem solid #ff7800;
}

.assigned {
  background-color: #91266c70;
  border: 0.2rem solid #91266c;
}

/* priorities */
.priority {
  padding: 0.5rem;
  width: fit-content;
  border-radius: 2rem;
  color: black;
  border: 0.2rem solid;
}

.high {
  border: 0.2rem solid red;
  background-color: orange;
}

.medium {
  border: 0.2rem solid orange;
  background-color: #ffff0070;
  color: white;
}

.low {
  border: 0.2rem solid blue;
  background-color : #0000ff70;
  color: white;
}

.default {
  border: 0.2rem solid rgb(87, 87, 87);
  background-color:rgba(82, 82, 82, 0.7)
}

.modal-subheading {
  padding-bottom: .5rem;
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.datetime {
  margin: 0.5rem; 
}

.userid {
  margin: 0.5rem;
}

.dates {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.date {
  display: flex;
  align-items: center;
}

.date h4 {
  font-weight: 600;
}

.modal-edit {
  align-self: center;
}


/* Media Queries */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #issues {
    /* perfect number to scale the list with the search */
    width: 82%;
  }
}


@media (prefers-color-scheme: dark) {
  th {
    color: white;
  }

  /* Issues List Dark Mode */
  .issue a {
    color: white;
    background-color: grey;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  
  .issue a:hover {
    color: black;
    background-color: white;
  }

  /* Search Bar */
  .search {
    background-color: lightslategray;
    color: white;
  }


  /* mobile navbar toggle icon */
  .navbar-toggler-icon {
    filter: invert(100%);
  }

  /* .navbar-light .navbar-toggler {
    color: white;
  } */
}

