/* Global Default */
h1 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
}

/* Search Default */
form {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.search {
  width: 60%;
}


.form-container {
  display: flexbox;
  flex-wrap: nowrap;
  width: 100%;
}

/* Issues List Default */
.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#issues {
  padding-top: 1rem;
  width: 75%;
}

.issue a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid black;
  color: black;
}

.issue a:hover {
  color: white;
  background-color: gray;
}

.top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* .input-label {
} */
.field {
  margin-bottom: 1rem;
}

/* modal */
.modal-container {
  
  z-index: 50;
  padding: 2rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.modal-footer,
.modal-header {
  color: white;
  background-color: #393942;
  border: none;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .modal-close {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal.is-visible {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
}

.issue-container {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: rgb(52, 52, 52);
  overflow: auto;
  cursor: default;
  color: white;
}

.issue-container > *{
  padding: 1rem;
}

.modal-content {
  background-color: rgb(42, 42, 42);
  border: 1px solid  rgb(42, 42, 42);
  padding-top: 0;
}

.issue-container.is-visible {
  display: flex;
}


.issue-title {
  font-size: 2rem;
  font-weight: bold;
}

.status {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.priority {
  border: 1px solid red;
  background-color: orange;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 2rem;
  color: black;
}

.open {
  background-color: green;
  color: white;
  border-radius: 1rem;
  padding: 0.6rem;
}

.modal-subheading {
  padding-bottom: .5rem;
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 1.1rem;
}


/* Media Queries */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #issues {
    /* perfect number to scale the list with the search */
    width: 82%;
  }
}


@media (prefers-color-scheme: dark) {
  th {
    color: white;
  }

  /* Issues List Dark Mode */
  .issue a {
    color: white;
    background-color: grey;
    border: 2px solid white;
  }
  
  .issue a:hover {
    color: black;
    background-color: white;
  }

  /* Search Bar */
  .search {
    background-color: lightslategray;
    color: white;
  }
}

