html {
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  /* If the operating system is using dark mode, then apply this CSS */
  body {
      background: black;
      color: white;
  }
  th {
    color: white;
  }
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

li {
  color: white;
}

#issues {
  background-color: blue;
  border: 5px solid red;
  border-radius: 1rem;
  list-style: none;
}

.issue {
  padding: 1rem;
  border: 5px solid red;
  width: 100%;
}