html {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #issues {
    /* perfect number to scale the list with the search */
    width: 82%;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

li {
  color: white;
}

input {
  margin-top: 1rem;
}

#issues {
  background-color: white;
  border: 2px solid grey;
  border-radius: 1rem;
  list-style: none;
  margin-top: 1rem;
  width: 75%;
}

.issue {
  padding: 1rem;
  border-bottom: 1px solid black;
  width: 100%;
}

.issue:hover{
  background-color: lightblue;
  cursor: pointer;
  color: black;
}

.bottom {
  border-bottom: none;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.top {
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

.pb-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
}

form {
  text-align: center;
  width: 100%;
}

.search {
  width: 60%;
  padding: 0.3rem;
}

.button {
  border: none;
  padding: 0.5rem;
}

.issue a {
  text-decoration: none;
  color: black;
}

@media (prefers-color-scheme: dark) {
  /* If the operating system is using dark mode, then apply this CSS */
  body {
      background: black;
      color: white;
  }
  th {
    color: white;
  }

  #issues {
    background-color: grey;
  }

  .issue {
    background-color: grey;
    color: white;
  }

  .issue a {
    color: white;
  }

  .search {
    background-color: grey;
    color: white;
  }

  .button {
    background-color: grey;
    color:white;
  }

  .button:hover {
    background-color: lightblue;
    color:black;
  }
}